.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 670px;
  background-image: url("../../assets/Home/bkgr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-primary);
  width: 100%;
  height: auto;
  position: relative;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
  opacity: 0.92;
  z-index: 0;
  pointer-events: none;
}

[data-theme='light'] .home-container::before {
  opacity: 0.75;
}

[data-theme='dark'] .home-container::before {
  opacity: 0.95;
}

.home-container > * {
  position: relative;
  z-index: 1;
}
